* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    width: 100%;
}

h3 {
    font-size: 1em;
}

h1, a[href="#home"] {
    color: #0000c8;
}

h2, #address div {
    padding-bottom: .5em;
}

a {
    text-decoration-line: none;
}

a[href="#contact"], #contact h2 {
    color: #0000ff;
}

a[href="#skills"], #skills h2 {
    color: #0032ff;
}

a[href="#study"], #study h2 {
    color: #0064ff;
}

a[href="#training"], #training h2 {
    color: #0096ff;
}

a[href="#hobbies"], #hobbies h2 {
    color: #00c8ff;
}

#picture {
    background-image: url("tauriel.jpg");
    width: 12vw;
    padding-bottom: 12vw;
    background-size: 80%;
    border-radius: 50%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: black;
}

section {
    margin: 2px 0;
    padding: 1em;
    background-color: #415a7e;
    display: flex;
    flex-direction: column;
}

#home {
    padding-top: 1.8em;
    flex-direction: row;
    justify-content: space-between;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#logo {
    display: flex;
    flex-wrap: wrap;
}

nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    font-weight: bold;
}

#skills div {
    display: flex;
    justify-content: space-between;
}

table {
    width: 25%;
    border: 1px solid #00a9ff;
}

th, tr:nth-child(even) {
    background-color: #00a9ff;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

dl {
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#study li {
    width: 30%;
}

#training li {
    width: 25%;
}

#makerFaire {
    background-image: url("maker.png");
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
}

#logoClub {
    background-image: url("logo archers.jpg");
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
}

#labo {
    background-image: url("labo.jpg");
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
}

figure div {
    width: 15vw;
    padding-bottom: 15vw;
}

figure {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

dt {
    font-weight: bold;
}

dd {
    padding-left: 3em;
}

@media screen and (max-width: 850px) {
    .line {
        flex-direction: column;
    }

    figure {
        width: 100%;
    }

    figure div {
        width: 30vw;
        padding-bottom: 30vw;
    }

    #logo {
        flex-direction: column;
    }

    table {
        display: flex;
    }
}